<div id="Article_style">
<p>
  <%= @article.title %>
</p>
</div>

 <%= image_tag("desert.jpg", :alt => "image1") %>
<p>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> 