@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-nav span {
  position: relative;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}


#app_container {
    width: 80%;
    margin-left: 10%;
}

